node_modules
__pycache__
*.pyc
.env
.DS_Store
dist
build
.vscode
.idea
*.log
coverage
*.sqlite
*.db
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.old
.pytest_cache
.mypy_cache
.tox
*.egg-info
add_admin.py
create_admin.sql